body{
  background-color: #00C6FF;
  height: 100%;
  width: 100%;
  position:relative;
  text-align: center;
}

.generate-button{
  position: relative;
  margin:auto;

  bottom:0;
  left:0;
  right:0;
  height:60%;
  width:50%;
  border-radius: 20px;
  background-color: white;
  top:70px;
  padding:30px;
  border-color: #1A237E;
  border style:solid;
  border-width: 5px;
  display:block;
}

.info{
  text-align: center;
  display:block;
  position: relative;
}
.userImage{
  height:200px;
  border-radius:50%;
  width:200px;
}

.logo{
  height: 100px;
  border-radius: 20px;
  display: block;
  width:150px;
}

#getButtonCode{

}

#generatedCode{
  display:none;
}

#copyStuff{
  display: none;
}
